.factor {
  $root: &;

  @include text-factor;

  &--light {
    color: $color-white;
  }

  &--blue {
    color: $color-blue;
  }

  &__content {

  }

  &__base {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__text {
    @include text-default;

    #{$root}--blue & {
      color: $color-black;
    }
  }

  &__label {

  }

  &__description {
  }
}
