@mixin last-row($count) { // Для элементов в последнем ряду, $count - максимальное количество элементов в ряду
  &:nth-child(#{$count}n+1):nth-last-child(-n+#{$count}),
  &:nth-child(#{$count}n+1):nth-last-child(-n+#{$count}) ~ & {
    @content;
  }
}

@mixin last-row-with-item($count, $item) {
	&:nth-child(#{$count}n+1):nth-last-child(-n+#{$count}),
	&:nth-child(#{$count}n+1):nth-last-child(-n+#{$count}) ~ #{$item} {
		@content;
	}
}


@mixin background-pane($color) {
  position: relative;

  &:before,
  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    content: "";
    background-color: $color;
  }

  &:before {
    right: 50%;
    width: rem(645);
  }

  &:after {
    right: 0;
    width: 51vw;
  }

  @include media-breakpoint-only(md) {
    &:before {
      left: rem(40);
      right: auto;
      width: calc(100% - #{rem(40)});
    }
  }
  @include media-breakpoint-down(md) {
    &:after {
      content: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &:before {
      left: rem(16);
      width: calc(100% - #{rem(16)});
    }
  }
}