{% extends "layouts::_page.twig" %}

{% block content %}

    {# factor #}
    <div class="py-40">
        <div class="container">
            {% for factor in factors %}
                <div class="mb-32">
                    {% view "@factor" with {
                        factor:factor
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>

    {# factor #}
    <div class="py-40 bg-blue">
        <div class="container">
            {% for factor in factors2 %}
                <div class="mb-32">
                    {% view "@factor" with {
                        factor:factor
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>

    {# form #}
    <div class="py-40">
        <div class="container">
            <form action="" data-parsley-validate>
                {% for field in form %}
                    <div class="mb-24">
                        {% view "@field" with {
                            field:field
                        } %}
                    </div>
                {% endfor %}

                {% view "@button" with {
                    button: {
                        title: "submit",
                        text: "submit",
                        type: "submit"
                    }
                } %}
            </form>
        </div>
    </div>

    {# form #}
    <div class="py-40 bg-blue">
        <div class="container">
            <form action="" data-parsley-validate>
                {% for field in form2 %}
                    <div class="mb-24">
                        {% view "@field" with {
                            field:field
                        } %}
                    </div>
                {% endfor %}

                {% view "@button" with {
                    button: {
                        title: "submit",
                        text: "submit",
                        type: "submit",
                        theme:"light"
                    }
                } %}
            </form>
        </div>
    </div>

    {# field #}
    <div class="py-40">
        <div class="container">
            {% for field in fields %}
                <div class="py-8">
                    {% view "@field" with {
                        field:field
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>


    {# field #}
    <div class="py-40 bg-blue">
        <div class="container">
            {% for field in fields2 %}
                <div class="py-8">
                    {% view "@field" with {
                        field:field
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>


    {#link-action#}
    <div class="py-40">
        <div class="container">
            {% for link in links %}
                <div class="py-8">
                    {% view "@link-action" with {
                        link:link
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>


    {#link-action#}
    <div class="py-40 bg-blue">
        <div class="container">
            {% for link in links2 %}
                <div class="py-8">
                    {% view "@link-action" with {
                        link:link
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>


    {# nav-arrows #}
    <div class="py-40">
        <div class="container">
            {% view "@nav-arrows" %}
        </div>
    </div>

    {# nav-arrows #}
    <div class="py-40  bg-blue">
        <div class="container">
            {% view "@nav-arrows" with {
                nav_arrows:{
                    theme:"light"
                }
            } %}
        </div>
    </div>



    {# button #}
    <div class="py-40">
        <div class="container">
            {% for button in buttons %}
                <div class="py-8">
                    {% view "@button" with {
                        button:button
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>

    {# button #}
    <div class="py-40 bg-blue">
        <div class="container">
            {% for button in buttons2 %}
                <div class="mb-16">
                    {% view '@button' with {
                        button: button
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
