{% extends "layouts::_page.twig" %}

{% block content %}

    <div class="">
        {% view "&main-hero" with {
            slider:mainHero
        } %}
    </div>

    <div class="mb-64 mb-md-112">
        {% view "&slider-card" with {
            slider:sliderCard
        } %}
    </div>

    <div class="mb-64 mb-md-112">
        {% view "&factors-block" with {
            block:factorsBlock
        } %}
    </div>

    <div class="mb-64 mb-md-112">
        {% view "&campus" with {
            block:solutionBlock
        } %}
    </div>

    <div class="mb-64 mb-md-112">
        {% view "&request-block" with {
            block:requestBlock
        } %}
    </div>

    <div class="mb-64 mb-md-112">
        {% view "&campus" with {
            block:campusBlock
        } %}
    </div>

    <div class="mb-md-96 mb-40">
        {% view '&slider-container' with {
            slider: sliderNews
        } %}
    </div>

    <div class="mb-lg-80 mb-md-96 mb-48">
        {% view "&subscribe" with {
            subscribe:subscribeBlock
        } %}
    </div>

{% endblock %}
