{% extends "layouts::_page.twig" %}

{% block content %}
    <div class="mb-64 mb-md-112">
        {% view "&factors-block" with {
            block:factorsBlock
        } %}
    </div>
{% endblock %}
