{% extends "layouts::_page.twig" %}

{% block content %}

    {% view '&page-heading' with {
        heading: heading
    } %}


    {#    модалки   #}
    {# сверстать самому  https://html.uplab.digital/nlmk-education.frontend/dist/council.html #}
    {# ajax #}

    {#    map   #}
    <div class="py-80">
        <div class="container">
            <code>&map-box</code>
            {% view '&map-box'  %}
        </div>
    </div>


    {# Табы и слайдер #}
    <div class="py-80">
        <div class="container">
            <code>Табы и слайдер</code>
        </div>
        {% view '&slider-container' with {
            slider: educationalSolutions
        } %}
    </div>


    {# accordion #}
    <div class="py-80">
        <div class="container">
            <code>&accordion</code>
        </div>
        {% view '&accordion' %}

    </div>


    {# video #}
    <div class="py-80">
        <div class="container">
            <code>&video</code>
            {% view '&video' %}
        </div>
    </div>


{% endblock %}
