{% extends "layouts::_page.twig" %}

{% block content %}

    {% view '&page-heading' with {
        heading: heading
    } %}



    {#    accordion menu   #}
    {#    tab   #}
    {#    карта   #}
    {#    модалки   #}




    {# accordion #}
    <div class="py-80">
        <div class="container">
            <code>&accordion</code>
            {% view '&accordion'  %}
        </div>
    </div>

    {# video #}
    <div class="py-80">
        <div class="container">
            <code>&video</code>
            {% view '&video' %}
        </div>
    </div>


{% endblock %}
