{% extends "layouts::_page.twig" %}

{% block content %}

    <div class="container">

        {#h1#}
        <div class="py-40">
            <code>h1</code>
            <h1>Heading H1 (48px-30px)</h1>
            <br> <code>p class="h1"</code>
            <p class="h1">Heading H1 (48px-30px)</p>
        </div>

        {#h2#}
        <div class="py-40">
            <code>h2</code>
            <h2>Heading H2 (32px-24px)</h2>
            <br> <code>p class="h2"</code>
            <p class="h2">Heading H2 (32px-24px)</p>
        </div>

        {#h3#}
        <div class="py-40">
            <code>h3</code>
            <h3>Heading H3 (24px-20px)</h3>
            <br> <code>p class="h3"</code>
            <p class="h3">Heading H3 (24px-20px)</p>
        </div>


        {#h4#}
        <div class="py-40">
            <code>h4</code>
            <h4>Heading H4 (22px-18px)</h4>
            <br> <code>p class="h4"</code>
            <p class="h4">Heading H4 (22px-18px)</p>
        </div>

        {#h5#}
        <div class="py-40">
            <code>h5</code>
            <h5>Heading H5 (20px-16px)</h5>
            <br> <code>p class="h5"</code>
            <p class="h5">Heading H5 (20px-16px)</p>
        </div>

        {#h6#}
        <div class="py-40">
            <code>h6</code>
            <h6>Heading H6 (18px-15px)</h6>
            <br> <code>p class="h6"</code>
            <p class="h6">Heading H6 (18px-15px)</p>
        </div>

        {# text-lead #}
        <div class="py-40">
            <code>p class="text-lead"</code>
            <p class="text-lead">text-lead (18px)</p>
        </div>

        {# text-default #}
        <div class="py-40">
            <code>p class="text-default"</code>
            <p class="text-default">text-default (15px-14px)</p>
        </div>

        {# text-label  #}
        <div class="py-40">
            <code>p class="text-label"</code>
            <p class="text-label ">text-label (11px)</p>
        </div>

        {# text-small  #}
        <div class="py-40">
            <code>p class="text-small"</code>
            <p class="text-small">text-small (13px)</p>
        </div>

        {# text-factor  #}
        <div class="py-40">
            <code>p class="text-factor"</code>
            <p class="text-factor">text-factor (60px-48px)</p>
        </div>

        {# text-factor  #}
        <div class="user-text">
            <p class="text-lead">
                A lead paragraph (sometimes shortened to lead; in the United States sometimes spelled lede) is the opening paragraph of an article, essay, book chapter, or other written work that summarizes its main ideas. A lead paragraph (sometimes shortened to lead; in the United States sometimes spelled lede) is the opening paragraph of an article, essay, book chapter, or other written work that summarizes its main ideas.
            </p>
            <p>
                A default paragraph (sometimes shortened to lead; in the United States sometimes spelled lede) is the opening paragraph of an article, essay, book chapter, or other written work that summarizes its main ideas. A lead paragraph (sometimes shortened to lead; in the United States sometimes spelled lede) is the opening paragraph of an article, essay, book chapter, or other written work that summarizes its main ideas.
            </p>
            <ul>
                <li>
                    The body text or body copy is the text forming the main content of a book, magazine, web page, or any other printed or digital work. This is as a contrast to both additional components such as
                </li>
                <li>
                    The body text or body copy is the text forming the main content of a book, magazine, web page, or any other printed or digital work. This is as a contrast to both additional components such as
                </li>
            </ul>
            <p class="text-lead">
                A lead paragraph (sometimes shortened to lead; in the United States sometimes spelled lede) is the opening paragraph of an article, essay, book chapter, or other written work that summarizes its main ideas. A lead paragraph (sometimes shortened to lead; in the United States sometimes spelled lede) is the opening paragraph of an article, essay, book chapter, or other written work that summarizes its main ideas.
            </p>
            <ol>
                <li>
                    The body text or body copy is the text forming the main content of a book, magazine, web page, or any other printed or digital work. This is as a contrast to both additional components such as
                </li>
                <li>
                    The body text or body copy is the text forming the main content of a book, magazine, web page, or any other printed or digital work. This is as a contrast to both additional components such as
                </li>
            </ol>
            <p>
                <a href="javascript:void(0);">some text</a>
            </p>
            <br>
        </div>
    </div>





{% endblock %}
