<header class="header"><br><br><br><br></header>
<button type="button" class="hamburger" data-menu-opener data-hamburger-animate>
    <span data-menu-opener-lines></span>
    <span data-menu-opener-cross></span>
</button>
