<div class="main-hero">
    {% if slider.slides|length>1 %}
        <div class="main-hero__init" data-main-hero>
            <div class="swiper-container" data-slider>
                <div class="swiper-wrapper">
                    {% for slide in slider.slides %}
                        <div class="main-hero__slide swiper-slide">
                            <div class="container">
                                <div class="main-hero__info">
                                    <div class="main-hero__caption text-default">{{ slide.caption }}</div>
                                    <div class="main-hero__heading color-blue h2">{{ slide.heading }}</div>
                                    <div class="main-hero__action">
                                        {% view "@button" with {
                                            button:slide.action
                                        } %}</div>
                                </div>
                            </div>
                            <div class="main-hero__image">
                                {% view "@image" with  {
                                    image:slide.image
                                } %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="main-hero__pagination container">
                    <div class="main-hero__pagination-inner">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>